h1{
  color: #008000;
  text-align: center;
}
h2  {
  font-style: italic;
  color: green;
  font-style: obliquel;
}
p{
  fornt-family: sans-serif;
}
ul {
  line-height: 30px;
}
body{
  background-color: #901021;
  text-align: center;
}
p.changed{
  font-weight: bold;
}
.link{
  color: #003000;
}
.tag{
  color: #ff66ff;
}
ul{
  color: #009800;
  font-size: 28;
  font-style: oblique;
  font-style: italic;
  line-height: inherit;
list-style-type: none;
}
ol{
  list-style-type: none;
}
